# dependencies
node_modules/

# production builds
apps/*/dist

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
*.log

# local env files
.env
.env*.local

# typescript
*.tsbuildinfo

# prisma
apps/gateway/prisma/migrations

# IDE
.vscode/
.idea/
*.swp
*.swo
