modules = ["nodejs-20"]
[agent]
expertMode = true
integrations = ["javascript_database:1.0.0"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "YoRight Gateway"

[[workflows.workflow]]
name = "YoRight Gateway"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd apps/gateway && PORT=5000 npm run dev"
waitForPort = 5000

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 44899
externalPort = 3002

[[ports]]
localPort = 45357
externalPort = 3003

[objectStorage]
defaultBucketID = "replit-objstore-b3e3d224-aa0a-4062-9f24-9485b56768d8"
